<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ManyToMany</title>
</head>
<body>
<b>ManyToMany</b>
<table border="2" width="200px">
    <caption><b>CATEGORIES</b></caption>
    <thead>

    <th>ID</th>
    <th>NAME</th>
    <th>ITEMS</th>

    </thead>
    <tbody>
    <tr th:each="cat1 : ${categories}">
        <td th:text="${cat1.id}"></td>
        <td th:text="${cat1.name}"></td>
        <td>
            <th:block th:each="item1 : ${cat1.bigItems}">
                <p th:text="${item1.name}"></p>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<table border="2">
    <caption><b>ITEMS</b></caption>
    <thead>

    <th>ID</th>
    <th>NAME</th>
    <th>CATIGORIES</th>

    </thead>
    <tbody>
    <tr th:each="item2 : ${items}">
        <td th:text="${item2.id}"></td>
        <td th:text="${item2.name}"></td>
        <td>
            <th:block th:each="cat2 : ${item2.categories}">
                <p th:text="${cat2.name}"></p>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>